<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .wrapper{
            width:600px;
            height:100px;
            background-color:red;
            display: flex;
        }
        .left{
            width:300px;
            height:100px;
            background-color:green;
        }
        .right{
            flex:auto;
            height:100px;
            background-color:blue;
        }
    </style>
</head>
<body>
    <h2>左边容器无论宽度如何变动，右边容器都能自适应填满父容器剩余的宽度</h2>
    <div class="wrapper">
        <div class="left"></div>
        <div class="right"></div>
    </div>
</body>
</html>