<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  	<title>flex Example</title>
		<style>
				.layout.flexbox{
					/* margin-top: 110px; */
				}
				.layout.flexbox .left-center-right{
					display: flex;
				}
				.layout.flexbox .left{
					width: 300px;
					background: red;
				}
				.layout.flexbox .center{
					flex:1;
					/* flex-flow:row */
					background: yellow;
				}
				.layout.flexbox .right{
					width: 300px;
					background: blue;
				}
			</style>
  </head>
  <body>      
    <!-- flexbox布局 -->
    <section class="layout flexbox">
				<h1>三栏布局</h1>
				<article class="left-center-right">
					<div class="left"></div>
					<div class="center">
						<h2>flexbox解决方案</h2>
						1.这是三栏布局的felx解决方案；
						2.这是三栏布局的flex解决方案；
					</div>
					<div class="right"></div>
				</article>
			</section>
  </body>
</html>
