<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  	<title>float Example</title>
	<style type="text/css">
	#center{
	  position:absolute;
	  left:200px;
	  right:200px; 
	  height:500px;
      background-color:green;
	}
	#left{
	 float:left;
	  width:200px;
	  height:500px;
	  background-color:red;

	}
	#right{
	  float:right;
	  width:200px;
	  height:500px;
	  background-color:blue;

	}
	</style>
  </head>
  <body>      
    <div id="wrapper">
				<div id="left"></div>
				<div id="center"><h2>浮动解决方案</h2>
          1.这是三栏布局的浮动解决方案；
          2.这是三栏布局的浮动解决方案；</div>
				<div id="right"></div>
    </div>
  </body>
</html>
