/*内外边距的设置*/
* {
    margin:0;
    padding:0; 
}
/*图片在box中的位置*/
img {
    vertical-align: top;
}
.css_box{
    width: 500px;
    height: 265px;
    margin:100px auto;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(31, 66, 31);
}
/*滚动盒子样式*/
.slider {
    width: 500px;
    height: 200px;
    border: 1px solid red;
    overflow:hidden;

}
/*滚动盒子主要部分的样式*/
.slider_main {
    border: 1px solid yellow;
    width: 500px;
    height: 200px;
    overflow:hidden;

}
/*滚动盒子主要部分的图片样式*/
.slider_main_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 200px;
}
.slider_main_img img {
    width: 100%;
}
/*两侧滚动控制的样式*/
.slider_ctrl {
    text-align: center;
    padding-top: 25px;
}
/*这样的类名，在html中找不到，但是又起到了作用，所以只有可能是是在js中创建了这样的类名！*/
/*控制点选轮播图的样式*/
.slider_ctrl_con {
    width: 24px;
    height: 20px;
    display:inline-block;
    background:url(../images/icon.png) no-repeat -24px -782px;
    margin: 0 5px;
    cursor: pointer;
    text-indent: -20em;
    overflow: hidden;
}
.current {
    background-position: -24px -762px;
}

/*滑动控制的两个span样式*/
.slider_ctrl_prev,.slider_ctrl_next {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    background:url(../images/icon.png) no-repeat 6px top;
    width: 30px;
    height: 35px;
    opacity: 0.8;
    cursor: pointer;
}
.slider_ctrl_prev {
    left: 0;
}
.slider_ctrl_next {
    right: 0;
    background-position: -6px -44px;
}